<!doctype html>
<html>
  <head>
    <title>Validate Email Addresses</title>
    <link href="{{ url_for('static',filename='style.css')}}" type="text/css" rel="stylesheet">
  </head>
  <body>
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
      {% if messages %}
        {% for message in messages %}
          <p class="success">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <table>
      <thead>
        <tr>
          <td>Email Addressess Entered: </td>
          <td>Time</td>
        </tr>
      </thead>
      <tbody>
        {% if data %}
          {% for entry in data %}
            <tr>
              <td>{{ entry.email }}</td>
              <td>{{ entry.date }}</td>
              <td><a href="/delete/{{ entry.id }}"><button>Delete</button></a></td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </body>
</html>
